{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h9 class="display-3">Bienvenu sur mon site de musique</h9>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Sur ce site découvrez les artises ainsi que leurs albums</p>
</div>
{% endblock %}
